<div class="main not-found">
    <div class="header">
    	<a href="/">
    		<img src="images/tatra-87.png" alt="Tatra 87 Automobile" title="This Tatra 87 would make more sense if it were a Peugeot 404... but who wants to look at a Peugeot 404?">
    	</a>
      	<h1>You found a Tatra 87!</h1>
      	<h2>Sorry that it's probably not what you were looking for.</h2>
    </div>
</div>