<div class="main not-found">
    <div class="header">
    	<img src="images/tatra-87.png" alt="Tatra 87 Automobile" title="This Tatra 87 would make more sense if it were a Pugeot 404... get it?">
      	<h1>You found a Tatra 87!</h1>
      	<h2>Sorry that it's probably not what you were looking for.</h2>
    </div>
</div>