<div class="main">
    <div class="header">
      	<h1>Ian Jennings</h1>
      	<h2>UX Designer &amp; Developer</h2>
      	<p class="ext-links"><a href="resume/IanJennings-UXDeveloper-resume.pdf">Resume</a> | <a href="https://www.linkedin.com/in/ianjennings">Linkedin</a> | <a href="http://www.github.com/spacecowboyian">Github</a></p>
    </div>
	<%- partial("_home") %>
</div>