body {
	margin:0;
}
#canvas {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4CA8BA), to(#1C3F87));
	position: absolute;
	width: 100%;
	height: 100%;
}

input[type=text].number {
	color: #666;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	width: 25px;
	padding: 0 2px 0 0;
	text-align: right;
}

form {
	margin-bottom: 5px;
	position: absolute;
	z-index: 999;
	right: 0;
	background: rgba(255,255,255,.7);
}

.formTable {
	border: 0;
}
.formTable td {
	vertical-align: middle;
}

.formTable .slider {
	display: inline-block;
	margin-left: 10px;
	width: 300px;
}

