body {margin:0; overflow: hidden;}

.IE {position:absolute; z-index:999; color:#555; top:0; left:0; right:0; bottom:0; background:#fff; font-size:1.2em;}
.IE p{position:absolute; top:50%; left:50%; width:600px;}
.sidebar {background:#ccc; height:100%; position:absolute; z-index:999;}
#hub-side-handle {display:block; height:30px; width:30px; background:#333; position:absolute; bottom:80px; left:310px; outline: none;}
.sidebar .app-screen.Barclays {background:url(images/hub-barclays-splash-screen.png) no-repeat 20px 0 #777}
.sidebar .app-screen.Markit {background:url(images/hub-markit-splash-screen.png) no-repeat 20px 0 #777}
.sidebar .app-screen.store {background:url(images/hub-store-open.png) no-repeat 20px -25px #777}


#hub {position:fixed; z-index: 998; bottom:15px; left:300px; background:rgba(12,12,12,.85); height:44px; -moz-border-radius-topleft:0; -moz-border-radius-topright:5px; -moz-border-radius-bottomright:5px; margin:0; font-size:12px; border:1px solid #666; border-left:0;}
#hub * {float:left;}
#hub a {color:#555555; cursor: pointer;}
#hub #chat {margin:0;}
#hub #chat li {display:block; list-style:none; height:18px;  margin:8px 4px 8px 4px; padding:5px 0; background:#ccc; -moz-border-radius:3px;}
#hub #chat .section li {cursor:pointer;asdfasdf}
#hub #chat li.open {background:#fff;}
#hub #chat li a.hub-chat-status {display:block; float:left; background-image:url(images/hub-bar-IM-unavail.png); background-repeat:no-repeat; width:20px; height:20px; margin:0 3px 0 10px;}
#hub #chat li a.hub-chat-status.active {background-image:url(images/hub-bar-IM-available.png);}
#hub #chat li a.hub-chat-status:hover {background-image:url(images/hub-bar-chat-close.png);}
#hub #chat li.chat-room {background:none; color:#fff; border:2px dashed #ccc; padding:3px 0;}
#hub #chat li.chat-user span {display:block; float:left; padding:0 10px 0 0;}
#hub #chat li h2 .chat-name {float:none; padding:0; display:inline;}


#hub #chat li .chat-window {position:absolute; width:250px; background:#eee; height:250px; padding:5px; bottom:44px;}
#hub #chat .chat-window .chat-stream {float:none; overflow:auto; background:#fff; margin:0; width:auto; float:none; padding:0; height:200px;}
#hub #chat .chat-window li{display:block; float:none; margin:0; -moz-border-radius:0; background:#fff; border-bottom:2px solid #eee; height:auto; padding:0;}
#hub #chat .chat-window .chat-stream li p {float:none;}
#hub #chat .chat-window .chat-stream li p.username {margin:0; padding:3px 5px; background:#aaa; color:#fff; font-size:.8em;}
#hub #chat .chat-window .chat-stream li p.message {margin:0; padding:5px;}
#hub #chat .chat-window form textarea {float:none; border:none; border-top:1px solid #999; border-bottom:1px solid #ccc; font-size:.8em; width:242px; height:37px;}
#hub #chat .chat-window form .submit {display:none;}

#hub #hub-menu ul li .popout .group-menu {padding:5px; float:none; clear:both; overflow:hidden; background:#222;}
#hub #hub-menu ul li .popout .group-menu span {display:block; float:left; padding:3px 5px; color:#fff; font-size:.8em;}
#hub #hub-menu ul li .popout .group-menu a{display:block; float:left; padding:3px 5px; -moz-border-radius:3px; background:#777; color:#fff; font-size:.8em;}
#hub #hub-menu ul li .popout .group-menu a.on {background:#222;}
#hub #hub-menu ul li .popout .group-menu a.hub-group-start {float:right; background:white; color:#000; margin:0;}
#hub #hub-menu ul li .popout .group-menu a.hub-group-update {float:right; background:white; color:#000; margin:0;}
#hub #hub-menu ul li .popout .group-menu a.hub-group-cancel {float:right; background:none; color:#ccc; text-decoration:underline; margin:0;  margin-right:5px;}

#hub #chat li .chat-window.group {width:400px; margin-left:0px; height:350px;}
#hub #chat li .chat-window.group h2 {float:none; overflow:hidden; margin:0; font-size:1.2em; background:#fff; padding:5px; margin-bottom:5px;}
#hub #chat li .chat-window.group h2 p.meta {float:right; margin:0; font-weight:normal; font-size:.9em; padding:3px;}
#hub #chat li .chat-window.group h2 p.meta * {float:none}
#hub #chat li .chat-window.group h2 p.meta span {display:inline; padding:0;}
#hub #chat li .chat-window.group .chat-stream {height:260px; width:400px; float:left;}
#hub #chat .chat-window .party {margin:0; background:none; float:right;}
#hub #chat .chat-window .party li { background:none; float:none; clear:both;}
#hub #chat .chat-window .party li p.meta {display:none;}
#hub #chat .chat-window .party li a {padding:0 10px 0 20px; display:block; background-image:url(images/hub-bar-IM-unavail.png); background-repeat:no-repeat; height:20px; margin:0 3px 3px 3px; border-bottom:1px solid #ccc;}
#hub #chat .chat-window .party li.active a {background-image:url(images/hub-bar-IM-available.png);}
#hub #chat .chat-window.group form textarea {width:392px;}


#hub #hub-logo { width:57px; background:url(images/hub-web-divider.png) no-repeat right}
#hub #hub-logo a {display:block; width:57px; height:44px; background:url(images/hub-bar-apps.png) no-repeat}
#hub #hub-logo a.active {background-position: 0px -44px;}

#hub #hub-menu ul {margin:0; padding:0;}
#hub #hub-menu ul li {list-style:none; display:block; width:48px; height:44px; background:url(images/hub-web-divider.png) no-repeat right}
#hub #hub-menu ul li a {display:block; width:26px; height:24px; padding:10px;}
#hub #hub-menu ul li a:hover {text-decoration:none;}
#hub #hub-menu .popout ul li input {float:left; margin:9px 6px;}
#hub #hub-menu ul li#hub-menu-providers {width:200px;}
#hub #hub-menu ul li#hub-menu-providers a.button {width:200px; color:#fff; font-weight:bold; font-size:1.2em; padding:12px; background:url(images/hub-bar-provider-arrow.png) no-repeat 170px 15px}
#hub #hub-menu ul li#hub-menu-messages a.button {background-image:url(images/hub-bar-icon-messages.png); background-position: 50% 54%; background-repeat:no-repeat;}
#hub #hub-menu ul li#hub-menu-briefcase a.button {background-image:url(images/hub-bar-icon-case.png);  background-position: 50% 44%; background-repeat:no-repeat;}
#hub #hub-menu ul li#hub-menu-share a.button {background-image:url(images/hub-bar-icon-share.png); background-position: 45% 48%; background-repeat:no-repeat;}

#hub #hub-menu ul li#hub-menu-team a.button {background-image:url(images/hub-bar-icon-team.png); background-position: 50% 48%; background-repeat:no-repeat;}
#hub #hub-menu ul li#hub-menu-search {width:auto; -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px; overflow:hidden;}
#hub #hub-menu ul li#hub-menu-search a.button {background-image:url(images/hub-bar-icon-search.png); background-position: 45% 52%; background-repeat:no-repeat;  float:left;}
#hub #hub-menu ul li#hub-menu-search #hub-search {background:none; padding:5px; width: 310px;}
#hub #hub-menu ul li#hub-menu-search #hub-search input {padding:5px; color:#aaa; width:285px; font-size:1em; height: 18px;}
#hub #hub-menu ul li#hub-menu-search #hub-search input.active {color:#222;}
#hub #hub-menu ul li#hub-menu-search #hub-search #search-submit {display:block; float:left; background:#ccc; width:35px; height:35px; -moz-border-radius:3px; margin-left:5px;}
#hub #hub-menu ul li#hub-menu-search #hub-search-ahead {position:absolute; -moz-box-shadow: 0px 0px 7px #000; margin-left:5px;  bottom:44px; width:295px; background:#ccc; height:auto; overflow:auto;  -moz-border-radius-topleft:3px; -moz-border-radius-topright:3px;}

#hub #hub-menu ul li a.active {background-color:#444;}
#hub #hub-menu .popout {position:absolute; -moz-box-shadow: 0px 0px 7px #000;  bottom:44px; margin-left:-203px; width:250px; background:rgba(240,240,240,.95); height:auto; overflow:auto;  -moz-border-radius-topleft:3px; -moz-border-radius-topright:3px;}
#hub #hub-menu ul li .slide-wrapper {width:350px;}
#hub #hub-menu .popout.slide { width:300px; background:none; margin-left:0; float:left; -moz-box-shadow: none; position:static; overflow:hidden;}
#hub #hub-menu .popout *{float:none;}
#hub #hub-menu .popout h2 {padding:10px; background: #777; color:#fff; margin:0; font-size:1.3em;}
#hub #hub-menu ul li .popout h2 a.update {display:block; float:right; height:20px; width:20px; padding:0; background-image:url(images/hub-bar-popout-reload.png);}
#hub #hub-menu ul li .popout h2 a.prefs {display:block; float:right; height:20px; width:20px; padding:0; background-image:none;  background-image:url(images/hub-bar-popout-settings.png);}
#hub #hub-menu .popout ul { display:block; clear:both; height: -1px; overflow-y:auto;}
#hub #hub-menu .popout li {width:auto; height:auto; overflow:hidden; background:none; border-top:2px solid #888; margin:0; padding:10px;}
#hub #hub-menu #hub-menu-providers .popout li {height:auto;}
#hub #hub-menu .popout li.header {font-weight:bold; font-size:1.3em; color:#fff; background:#333;}
#hub #hub-menu .popout h3 {font-size:1em; margin:0 0 .5em;}
#hub #hub-menu .popout p {margin:0;}
#hub #hub-menu ul li .popout a {display:inline; width:auto; height:auto; padding:0;}
#hub #hub-menu .popout li p.snippet {font-size:.9em; line-height:1.2em;}
#hub #hub-menu .popout li p.label {font-size:.9em; line-height:1.2em; font-weight:bold; color:#555;}
#hub #hub-menu .popout li p.meta {float:right; font-size:.8em; line-height:0;}
#hub #hub-menu .popout li p.meta span {display:block;}
#hub #hub-menu .popout li p.meta span.date {font-size:1.3em; line-height:1em;}
#hub #hub-menu .popout li p.meta span.time {font-weight:bold; line-height:1em;}
#hub #hub-menu .popout li p.meta span.replies {font-weight:bold; font-size:1.8em; line-height:1.4em; padding:3px 0 0; margin:5px auto; width:35px; background:#555; color:#fff; text-align:center; -moz-border-radius:3px;}
#hub #hub-menu .popout li p.meta span.items {font-weight:bold; font-size:1.8em; line-height:1.4em; padding:3px 0 0; margin:5px auto; width:35px; background:#555; color:#fff; text-align:center; -moz-border-radius:3px;}

/* providers menu exceptions */

#hub #hub-menu li#hub-menu-providers .popout {position:absolute; bottom:44px; margin-left:0px; width:200px; background:rgba(12,12,12,.85); height:auto; overflow:hidden;}
#hub #hub-menu li#hub-menu-providers .popout ul {height:auto; overflow: auto;}
#hub #hub-menu li#hub-menu-providers .popout ul li {display:block; width:200px; padding:0; color:#fff; background:none; }
#hub #hub-menu li#hub-menu-providers .popout ul li a.name {display:block; padding:10px 0 0 50px; height:27px; overflow:hidden; color:#fff; font-size:1.1em; background-repeat:no-repeat; background-position:8px 0;}
#hub #hub-menu li#hub-menu-providers .popout ul li a.handle {background:#ccc; display:block; float:right; width:20px; height:35px;}
#hub #hub-menu li#hub-menu-providers .popout ul li a:hover {background-color:#444}

/* providers menu icons */
#hub #hub-menu li#hub-menu-providers .popout ul li#prov-add{background:#eee;}
#hub #hub-menu li#hub-menu-providers .popout ul li#prov-add a.name {background-image:url(images/providers/hub-bar-provider-add.png); color:#333;}
#hub #hub-menu li#hub-menu-providers .popout ul li#prov-add a.name:hover {background-image:url(images/providers/hub-bar-provider-add.png); color:#333; background-color:#fff}
#prov-barclays a.name {background-image:url(images/providers/hub-bar-provider-barclays.png);}
#prov-citi a.name {background-image:url(images/providers/hub-bar-provider-citi.png);}
#prov-suisse a.name {background-image:url(images/providers/hub-bar-provider-suisse.png);}
#prov-goldman a.name {background-image:url(images/providers/hub-bar-provider-goldman.png);}
#prov-hsbc a.name {background-image:url(images/providers/hub-bar-provider-hsbc.png);}
#prov-jeffries a.name {background-image:url(images/providers/hub-bar-provider-jeffries.png);}

/* Briefcase Exceptions */

#hub #hub-menu #hub-menu-briefcase .popout li {height:auto;}

/* Share exceptions */

#hub #hub-menu ul li#hub-menu-share .popout {width:420px; height:300px; margin-left:-373px;}
#hub #hub-menu ul li#hub-menu-share .popout li {height:280px;}
#hub #hub-menu ul li#hub-menu-share .popout ul li input {float:none; margin:0;}
#hub #hub-menu ul li#hub-menu-share #share-pop {padding:10px;}
#hub #hub-menu ul li#hub-menu-share #share-pop-info {overflow:hidden;}
#hub #hub-menu ul li#hub-menu-share #share-pop-info h3 {font-size:1.3em;}
#hub #hub-menu ul li#hub-menu-share #share-pop-img {display:block; width:80px; height:80px; float:left; background:#ccc; margin-right:20px;}
#hub #hub-menu ul li#hub-menu-share #share-pop-comment{width:365px; height:150px; font-size:1em;}
#hub #hub-menu ul li#hub-menu-share #share-pop-target {border:1px solid #ccc; padding:5px; width:300px; margin-top:5px; background:url(images/hub-bar-arrow-black.png) #fff no-repeat 292px  }
#hub #hub-menu ul li#hub-menu-share #share-pop-submit {border:1px solid #ccc; padding:5px 4px 4px 4px;  margin-top:5px; width:62px; background:#555; color:#fff; font-weight:bold;}
/* Team menu and search exceptions */

#hub #hub-menu li#hub-menu-team .popout, #hub #hub-menu li#hub-menu-search .popout ul {height:auto; overflow: hidden;}
#hub #hub-menu li#hub-menu-team .popout ul li, #hub #hub-menu li#hub-menu-search .popout ul li {padding:0; height:auto;}
#hub #hub-menu li#hub-menu-team .popout ul li.section, #hub #hub-menu li#hub-menu-search .popout ul li.section {height:auto; border:none;}
#hub #hub-menu li .popout ul li.section-head,#hub #hub-menu li#hub-menu-search .popout ul li.section ul li.section-head {padding:0; font-weight:bold; color:#fff; background:#555; padding:5px;}
#hub #hub-menu li#hub-menu-team .popout ul li.section ul li.section-head input {}
#hub #hub-menu li#hub-menu-team .popout ul li.section ul li.section-head a,#hub #hub-menu li#hub-menu-search .popout ul li.section ul li.section-head a {padding:9px 10px 8px 10px; background:0; color:#fff; float:left; font-size:1.2em;}
#hub #hub-menu li#hub-menu-team .popout ul li.section ul li.section-head a.arrow { display:block; float:right; background:none; background-image:url(images/hub-bar-arrow.png); background-repeat:no-repeat; width:10px; height:20px; background-position: 50% 50%; -moz-transform: scaleY(-1);}
#hub #hub-menu li#hub-menu-team .popout ul li.section ul li.section-head a.arrow.closed {-moz-transform: scaleY(1) rotate(30deg);}
#hub #hub-menu li#hub-menu-team .popout ul li.section.ui-sortable-helper .section-head {background-color:#111}
#hub #hub-menu li#hub-menu-team .popout ul li.section ul li.ui-sortable-helper a {background-color:#fff}
#hub #hub-menu li#hub-menu-team .popout ul li.section ul li, #hub #hub-menu li#hub-menu-search .popout ul li.section ul li {height:auto;}
#hub #hub-menu li#hub-menu-team .popout ul li a, #hub #hub-menu li#hub-menu-search .popout #ahead-people ul li a.contact {display:block; padding:9px 10px 8px 30px; color:#333; background-color:#eee; font-weight:normal; background-image:url(images/hub-bar-IM-unavail.png); background-repeat:no-repeat; background-position: 6px 50%; }
#hub #hub-menu li#hub-menu-team .popout ul li.active a {background-image:url(images/hub-bar-IM-available.png); background-repeat:no-repeat; background-position: 7px 50%;}
#hub #hub-menu li#hub-menu-team .popout ul li a:hover {background-color:#e5e5e5}
#hub #hub-menu li#hub-menu-team .popout ul li img {width:35px; line-height:0;}

/* Search exceptions */
#hub #hub-menu .popout .item.research p.provider {float:right;}
#hub #hub-menu li#hub-menu-search .popout ul li.section ul li.company{padding:10px 5px;}
#hub #hub-menu li#hub-menu-search .popout ul li.section ul li.section-head {padding:5px;}
#hub #hub-menu li#hub-menu-search .popout #ahead-people ul li p.meta a {background:none;padding:none; margin:none;} 
#hub #hub-menu li#hub-menu-search .popout .item.research .main a {display:block; padding:5px;}

#hub #hub-menu li#hub-menu-search .popout .item.research ul.meta {overflow:hidden; border-top:2px solid #ccc; background:#aaa;}
#hub #hub-menu li#hub-menu-search .popout .item.research ul.meta li {float:left; color:#fff; background:none; font-size:.8em; margin:0 2px 0 0; padding:3px; border:0; border-right:1px solid #ccc; }
#hub #hub-menu li#hub-menu-search .popout .item.research ul.meta li.analyst ul.multi-list {position:absolute; background:#222; margin:3px 0 0 -5px; width:62px; z-index:9999}
#hub #hub-menu li#hub-menu-search .popout .item.research ul.meta li.analyst ul.multi-list li{border:0; border-bottom:1px solid #ccc; float:none;}
#hub #hub-menu li#hub-menu-search .popout .item.research ul.meta li.rank {border:none;}
#hub #hub-menu li#hub-menu-search .popout ul li.section ul li.section-head a.more {float:right; font-size:1em; font-weight:normal; padding:10px;}
#hub #hub-menu li#hub-menu-search .popout ul li.section ul li.section-head a.more span {font-weight:bold;}

#hub #hub-menu-handle-click.open {background-image:url(images/hub-bar-collapse.png); background-repeat: no-repeat;}
#hub #hub-menu-handle-click.closed {background-image:url(images/hub-bar-expand.png); background-repeat: no-repeat;}

.hub-overlay {position:fixed; z-index: 9997; width:100%; height:100%; top:0; background:rgba(20, 20, 20, 0.9); }
.hub-overlay a {color:#555; cursor:pointer;}
#hub #hub-menu li#hub-menu-team .popout ul li .meta a {background-image:none; background-repeat:no-repeat; padding:0;}
#hub #hub-menu #hub-menu-messages .popout li {} 
#hub #hub-menu #hub-menu-messages .popout li.active {background:#333; color:#fff;}
.hub-message-window {position:absolute; z-index: 9998; height:65%; overflow:hidden; bottom:50px; left:315px; width:60%; background:#fff; border:5px solid #555;}
.hub-message-window-title {padding:10px; margin:0; background:#555; color:#fff; font-size:1.2em; }
.hub-message-window-thread {height:510px; overflow:auto;}
.hub-message-window-response { border-bottom:2px solid #ccc; margin-bottom:10px;}
.hub-message-window-response .meta{list-style:none; overflow:hidden; margin:0 0 10px 0; background:#eee; padding:10px;}
.hub-message-window-response .meta .label {font-weight:bold; display:block; float:left; margin-right:10px;}
.hub-message-window-response .meta .sent {float:left; line-height:25px;}
.hub-message-window-response .meta .sender  {line-height:20px; display:block; float:left; padding:3px 10px 3px 25px; margin:0 5px 0 0; background-color:#ccc; background-image:url(images/hub-bar-IM-unavail.png); background-repeat:no-repeat; background-position: 6px 50%; -moz-border-radius:3px; }
.hub-message-window-response .meta .sender.available {display:block; float:left; padding:3px 10px 3px 25px; background-color:#ccc; background-image:url(images/hub-bar-IM-available.png); background-repeat:no-repeat; background-position: 6px 50%; -moz-border-radius:3px; }
.hub-message-window-response .meta .date {clear:both;}
.hub-message-window-response .body {padding:10px;}
.hub-message-window-response.response {margin:0 10px; border:2px solid #ccc; margin-bottom:10px;}
.hub-message-window-response .response-tools {list-style:none; margin:0; overflow:hidden; padding:5px 0; float:right;}
.hub-message-window-response .response-tools li {display:block; float:left; margin:0 2px 0 0; padding:0;}
.hub-message-window-response.original .response-tools li a { display:block; float:left; padding:3px 10px 3px 30px; margin:0 0 0 0; background-repeat:no-repeat; -moz-border-radius:3px;}
.hub-message-window-response.original .response-tools li a.edit { background-image:url(images/hub-bar-message-edit.png);  background-position: 6px 40%;}
.hub-message-window-response.original .response-tools li a.archive { background-image:url(images/hub-bar-message-archive.png);  background-position: 6px 10%;}
.hub-message-window-response.response .response-tools li a {width:25px; height:17px;  display:block; float:left; background-repeat:no-repeat;}
.hub-message-window-response.response .response-tools li a.edit {background-image:url(images/hub-bar-message-edit.png); }
.hub-message-window-response.response .response-tools li a.archive { background-image:url(images/hub-bar-message-archive.png); }

.hub-context-link {position:absolute; margin-left:5px; z-index:9999;}
.hub-active-link {background:#333; color:#fff; padding:5px; display:block; -moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px; margin-top:-5px;}
.hub-active-link a {color:#fff;}

.hub-context-pop {position:absolute; z-index: 9999; width:250px; background:#404040; color:#fff; border:5px solid #333; -moz-box-shadow: 5px 5px 7px #555;} 
.whatshotbody .hub-context-pop div {display:block;}
.hub-context-pop h3 {padding:10px; font-size:1em; border-bottom:1px solid #ccc;}
.hub-context-pop h4 {background:#555; padding-left:10px; margin:0; line-height:2.9em; overflow:hidden;}
.hub-context-pop img {float:right; margin-left:10px;}
.hub-context-pop .stats { border-top:2px solid #555; overflow:hidden;}
.hub-context-pop .stats .impact {float:left; padding:10px;text-align:center;}
.hub-context-pop .stats .impact p {font-size:2em; margin:0; padding-left:5px;}
.hub-context-pop .stats .impact span {font-size:12px; display:block; text-align:center;}
.hub-context-pop .stats .chart {background:#ccc; height:50px; margin:10px; width:100px; float:right;}
.hub-context-pop ul {margin:0; padding:0; list-style:none;}
.hub-context-pop ul li a {display:block; color:#fff; font-size:.9em; text-decoration:none; padding:5px 10px; border-top:2px solid #ccc;}
.hub-context-pop ul li.breadcrumb {border-top:2px solid #ccc; padding:5px 0;}
.hub-context-pop ul li.breadcrumb a {display:inline; border:none;} 
.hub-context-pop ul li.breadcrumb a:hover {text-decoration:underline;}

#hub-directory {margin:0 auto; width:800px; margin-top:20px;}

#provider-frame-wrapper { z-index:0; height:100%;  position:absolute; right:0; bottom:0; top:0; left:0;}
#provider-frame {}

.hub-provider-add-window {background:#fff; width:600px; margin:0 auto; margin-top:100px; overflow:hidden;}
.hub-provider-add-window div {width:280px; padding:10px;}
.hub-provider-add-window .left {float:left; border-right:1px solid #ccc;}
.hub-provider-add-window .right {width:279px; float:right;}
#hub-provider-add-existing .provider-list {border-top:1px solid #ccc;}
#hub-provider-add-existing .provider-list li {border-bottom:1px solid #ccc;}
#hub-provider-add-existing .provider-list li a{display:block; padding:5px; font-weight:bold;}

#hub-provider-invite form label {display:block;}
#hub-provider-invite form input {display:block; width:270px;}
 #hub-provider-invite form input.submit {width:auto; margin-top:20px;}
 
 .sidebar #app-rail-nav .open-app-store {display:block; position:absolute; background:url("images/hub-bar-provider-arrow.png") no-repeat scroll 5px 7px transparent; width:28px; height:28px; top:0; margin-left:70px; opacity:.6;}
.sidebar #app-rail-nav .open-app-store.active {-moz-transform: scaleY(1) rotate(180deg);}