.horiz-menu ul {overflow:hidden;}
.horiz-menu ul li {float:left;}
.horiz-menu ul li a {display:block; padding:5px 10px; text-align:center;}
.horiz-menu ul li:last-child a {border-right:none;}
.horiz-menu ul li .drop {background:#eee; border:1px solid #ccc; position:absolute; z-index:999}
.horiz-menu ul li .drop ul li {float:none; border-bottom:1px solid #ccc;}
.horiz-menu ul li .drop ul li:last-child {border:none;}
.horiz-menu ul li .drop ul li a {background:none;}

.horiz-menu.segmented ul {overflow:hidden; background-image: -moz-linear-gradient(center bottom, rgb(200,200,200) 38%, rgb(230,230,230) 69%); -moz-border-radius:5px; -moz-box-shadow:inset -1px -1px 7px #888;}
.horiz-menu.segmented ul li {border-right:1px solid #999;}
.horiz-menu.segmented ul li:last-child {border:none;}
.horiz-menu.segmented ul li a {text-decoration:none; color:#555; padding:8px 10px; font-size:.9em;}
.horiz-menu.segmented ul li:first-child a {-moz-border-radius-topleft:5px; -moz-border-radius-bottomleft:5px;}
.horiz-menu.segmented ul li:last-child a {-moz-border-radius-topright:5px; -moz-border-radius-bottomright:5px;}
.horiz-menu.segmented ul li a:hover {background-color:rgba(255,255,255,.4);}
.horiz-menu.segmented ul li.active a {-moz-box-shadow:inset 2px 2px 7px #999; background-image: -moz-linear-gradient(center bottom, rgb(255,255,255) 38%, rgb(230,230,230) 69%);}

.horiz-menu.pipes li a{color:#555; background:url(images/menu-pipe.png) no-repeat right;}
.horiz-menu.pipes ul li:last-child a {background:none;}
.horiz-menu.pipes ul li a {text-decoration:underline;}
.horiz-menu.pipes ul li.active a {font-weight:bold; text-decoration:none;}

.horiz-menu.tabs ul {border-bottom:1px solid #ccc; margin-bottom:-2px;}
.horiz-menu.tabs ul li {margin:0;}
.horiz-menu.tabs ul li a{background:#eee; margin-right:2px; -moz-border-radius-topleft:3px; -moz-border-radius-topright:3px; padding:5px 10px 3px; border:1px solid #ccc; }
.horiz-menu.tabs ul li.active a {background:-moz-linear-gradient(center bottom , #FFFFFF 38%, #eee 69%); border-bottom:1px solid #fff;}
.horiz-menu.tabs ul li a:hover {background:#eee; text-decoration:none;}
.horiz-menu.tabs ul li.active a:hover {background:-moz-linear-gradient(center bottom , #FFFFFF 38%, #eee 69%);}