@import url('/wallstdomains/playground/ian/common/mk/css/Source/Externals/structure.css');
@import url('/wallstdomains/playground/ian/common/mk/css/Source/Externals/content.css');
@import url('/wallstdomains/playground/ian/common/mk/css/Source/Externals/skin.css');
@import url('/wallstdomains/playground/ian/common/mk/css/Source/Content/structure.css');
@import url('/wallstdomains/playground/ian/common/mk/css/Source/Content/content.css');
@import url('/wallstdomains/playground/ian/common/mk/css/Source/Content/skin.css');

.headerWeb {position: absolute; top:0;}

#mcs-header {width:100%; position:absolute; background:rgba(0,21,40,.6); z-index: 999;}
#mcs-header-applist {background:#999; height: 45px; position: relative; margin-right:25px;}
#mcs-header-appdrawer ul li {float:left; margin:0px 1px 10px; height:57px}
#mcs-header-appdrawer ul li a {display:block; background:rgba(0,21,40,.6); width:65px; height:42px;  text-align:center; line-height:60px; font-size:10px; color:#99ccff;}
#mcs-header-appdrawer ul li.active a  {background:none; color:#fff}
#mcs-header-appdrawer ul li.before a {-moz-border-radius-bottomright:5px;}
#mcs-header-appdrawer ul li.after a  {-moz-border-radius-bottomleft:5px;}
#mcs-header-appdrawer ul li.ui-sortable-helper a{background:rgba(50,50,50,.8);}
div#mcs-header-overflow {position:absolute; right:0; top:0;}

div#mcs-header-overflow ul {position:absolute; right:0; z-inxex:999;}
div#mcs-header-overflow ul li {float:none;}
.mcs-header-app-menu ul li.ui-sortable-placeholder {width:65px; margin:0 1px;}

#mcs-header-appdrawer {height:42px; float:left; width:auto; overflow:hidden; background-color:#004B91; background-position:0 -479px;}
#mcs-header-appdrawer ul{display: block; float:left; overflow:hidden;}
#mcs-header-appdrawer div#bin { width:738px; background:rgba(0,68,132,.95); border:1px solid #fff; clear:both; position:absolute; top:57px; padding:10px; -moz-box-shadow:#333 2px 2px 9px; }
#mcs-header-appdrawer div#bin p {margin:0; padding:0 0 7px 3px; font-size:.8em; color:#fff; font-weight:bold;}
#mcs-header-appdrawer div#bin ul li {margin:0 1px 0;}
#mcs-header #mcs-header-appdrawer ul li {margin:0 1px 0;}
#mcs-header #mcs-header-appdrawer ul li a.handle {position:absolute; cursor:move;background-image:url(/wallstdomains/playground/ian/source/header/images/mcs-header-item_handle.png);  background-color:#ddd;  width:65px; height:10px; -moz-border-radius:0 0 3px 3px;}
#mcs-header-appdrawer a.overflow-button {display:block; height:40px; width:25px; padding:12px 0 0 5px; text-decoration:none;}
#mcs-header #mcs-header-appdrawer ul li a.overflow-button.open {border:1px solid #fff; border-bottom:1px solid #004484; background-color:#004484; position:absolute; height:45px; z-index:998; -moz-border-radius:5px 5px 0px 0px; margin-top:2px; padding:9px 0px 0 4px;}
#mcs-header-appdrawer a.overflow-button span {background-image:url(/wallstdomains/playground/ian/source/header/images/mcs-header-overflow_button.png); color:#002b52; display: block; height: 10px; line-height: 10px; padding: 5px 6px 5px 4px; width: 10px;}
#mcs-header-appdrawer a.overflow-button:hover span {height: 20px;}
#mcs-header-appdrawer .active a.overflow-button span {background-position:20px 0;}
#mcs-header ul li.ui-sortable-helper.denied a {background:rgba(255,0,0,.6); color:#fff;}

#mcs-header-usertools {height:20px; font-size:.93em}
#mcs-header-usertools ul {float:right; margin-top:12px;}
#mcs-header-usertools ul li {float:left; padding:0 15px 0 12px; color:#fff; background:url(/wallstdomains/playground/ian/source/header/images/mcs-header-usertools-divider.png) no-repeat right 2px;}
#mcs-header-usertools ul li:last-child {background:none;}
#mcs-header-usertools ul li a {color:#fff; font-weight:normal;}